.admin-container {
  display: flex;
  .admin-sidebar {
    .pro-sidebar {
      height: 100vh !important;
    }
  }
  .admin-content {
    width: 100%;
    padding: 10px 30px 0;
    background: #fef;
    height: calc(100vh - 10px);
    .admin-header {
      height: 40px;
      svg {
        cursor: pointer;
      }
    }
  }
}
